{
    "user": {
        "name": "Your Name",
        "email": "you@yourdomain.tld"
    },
    "paths": {
        "templates": "app/templates/default",
        "posts": "posts",
        "web": "web",
        "omit_extension": true
    }
}
