{
    "user": {
        "name": "Your Name",
        "email": "you@yourdomain.tld"
    },
    "content": {
        "adaptor": "files",
        "path": "app"
    },
    "or__content": {
        "adaptor": "strapi",
        "headers": [
            "Authorization: bearer abc123"
        ],
        "root_url": "http://127.0.0.1:1337/api"
    },
    "web": {
        "path": "web"
    },
    "site": {
        "theme": "default",
        "title": "Site Title",
        "description": "Site description is a little longer and wiser."
    }
}
