{
    "user": {
        "name": "Your Name",
        "email": "you@yourdomain.tld"
    },
    "paths": {
        "templates": "app/templates/default",
        "posts": "posts",
        "web": "web"
    },
    "site": {
        "theme": "default",
        "title": "Site Title",
        "description": "Site description is a little longer and wiser."
    }
}
