{% extends 'template.html.twig' %}

{% block title %}Index{% endblock %}

{% block content %}
    <ul class="blog-post-list">
        {% for post in posts %}
            <li>{% include 'post.html.twig' with {'link': true} %}</li>
        {% endfor %}
    </ul>
{% endblock %}
