{% extends 'template.html.twig' %}

{% block title %}Tag: {{ tag.name }}{% endblock %}

{% block content %}
    <div class="tag">
        <h2>{{ tag.name }}</h2>
        <ul class="blog-post-list">
        {% for post in tag.posts %}
            <li>{% include 'post.html.twig' with {'link': true} %}</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
