{% extends 'template.html.twig' %}

{% block title %}Tag: {{ tag.getName }}{% endblock %}

{% block content %}
    <div class="tag">
        <h2>{{ tag.getName }}</h2>
        <ul>
        {% for post in tag.getPosts %}
            <li>{% include 'post_link.html.twig' with {'post': post} %}</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
