{% extends 'template.html.twig' %}

{% block title %}Tags{% endblock %}

{% block content %}
    <ul class="tags nav nav-pills">
        {% for tag in tags %}
            <li class="active"><a href="/tags/{{ tag.slug ~ '.html' }}">{{ tag.name }} <span class="badge">{{ tag.posts|length }}</span></a></li>
        {% endfor %}
    </ul>
{% endblock %}
