<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/site.css">
    <title>Calcine - {% block title %}Welcome{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Link</li>
                <li>Link</li>
                <li>Link</li>
                <li>Link</li>
                <li>Link</li>
            </ul>
        </nav>
    </header>

    <section class="content">
        {% block content %}{% endblock %}
    </section>

    <footer>
        Copyright &copy; 2014 Zerifas.
    </footer>
</body>
</html>
