<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Calcine - {% block title %}Welcome{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/tags">Tags</a></li>
            </ul>
        </nav>
    </header>

    <section class="content">
        {% block content %}{% endblock %}
    </section>

    <footer>
        Copyright &copy; 2014 <a href="mailto:{{ user.email }}">{{ user.name }}</a>.
    </footer>

    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
    <script src="/js/jquery.min.js"></script>
